{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
    <section>
        <div>
            <b-link href="{{ path('survey_create') }}">Create survey</b-link>
        </div>
        {% for survey in surveys %}
            <article class="mb-3">
                <b-link class="text-decoration-none text-body" href="{{ path('survey_plan', {id: survey.id}) }}">
                    <b-card>
                        <div class="d-flex justify-content-end">
                            <small><time>{{ survey.createdAt|date('d-m-Y') }}</time></small>
                        </div>
                        <div>
                            <span>{{ survey.name }}</span>
                        </div>
                    </b-card>
                </b-link>
            </article>
        {% endfor %}
    </section>
{% endblock %}
