<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm mb-5 bg-white rounded">
        <div class="container w-896">
            <a class="navbar-brand" href="/">App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('survey') }}">Survey</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" target="_self" href="{{ path('app_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('signup') }}">Sign Up</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>