<div class="mb-3">
    <b-nav pills>
        <b-nav-item href="{{ path('content', {survey: survey}) }}">Plan</b-nav-item>
        <b-nav-item href="{{ path('stats', {survey: survey}) }}">Stats</b-nav-item>
        <b-nav-item href="{{ path('stats_person_list', {survey: survey}) }}">Persons list</b-nav-item>
    </b-nav>
</div>