<div class="mb-3">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item bg-white border rounded me-2">
            <a class="nav-link" href="{{ path('content', {survey: survey}) }}">Content</a>
        </li>
        <li class="nav-item bg-white border rounded me-2">
            <a class="nav-link" href="{{ path('stats', {survey: survey}) }}">Stats</a>
        </li>
        <li class="nav-item bg-white border rounded">
            <a class="nav-link" href="{{ path('stats_people', {survey: survey}) }}">Persons list</a>
        </li>
    </ul>
</div>