{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% if survey.repeatable or (survey.repeatable == false and pass is empty) %}
        <pass-layout
            survey="{{ survey|serialize('json', ['questions', 'passes', 'person']) }}"
            questions="{{ questions|serialize('json', ['answers', 'survey']) }}"
        ></pass-layout>
    {% else %}
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary">{{ survey.name }}</h3>
                <div>You have already completed this survey</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
