body {
    background-color: #f7f7f7;
    font-family: Helvetica, Arial, sans-serif;
}

.w-896 {
    max-width: 896px;
}

[v-cloak] {
    display: none;
}

.pointer {
    cursor: pointer;
}

.flicker:hover {
    background-color: #f8f9fa;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}

.resize-none {
    resize: none;
}