<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="app" v-cloak>
            {% include('partials/header.html.twig') %}
            <main id="content">
                <b-container class="w-896">
                    {% block body %}{% endblock %}
                </b-container>
            </main>
        </div>
    </body>
</html>
