{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include('partials/navigation.html.twig') %}
    {% for pass in passes %}
        <article class="mb-3">
            <b-link class="text-decoration-none text-body" href="{{ path('stats_person', {survey: pass.survey.id, person: pass.person.id}) }}">
                <b-card>
                    <div class="d-flex justify-content-between">
                        <div>Person: #{{ pass.person.id }}</div>
                        <div><small><time>{{ pass.createdAt|date('d-m-Y H:i:s') }}</time></small></div>
                    </div>
                </b-card>
            </b-link>
        </article>
    {% else %}
        <div>No results</div>
    {% endfor %}
{% endblock %}
