{% extends 'base.html.twig' %}

{% block title %}Hello ResultController!{% endblock %}

{% block body %}
    {% for question in questions %}
        <h3>{{ question.text }}</h3>
        {% for option in question.options %}
            {% if question.type in ['radio', 'checkbox'] and answers[option.id] is defined %}
                <p style="background-color: red;">{{ option.text }}</p>
            {% elseif question.type in ['string', 'text'] and answers[option.id] is defined %}
                <p>{{ answers[option.id].text }}</p>
            {% else %}
                <p>{{ option.text }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
